extends ./layouts/common.pug

block content 
    .slider(style='margin-bottom: 10px')     
        .w3-content(style='max-width:100%')
            img.mySlides(src='/images/slideshow_1.webp', style='width:100%')
    #products_content.col-md-12.col-sm-12.col-xs-12
        #columns.row
            .center_column.col-xs-12.col-md-12.col-lg-12.col-sm-12
            .banner-item.col-md-6.col-sm-6.col-xs-12
                .info
                    a(href='/products/newproducts', title='Sản phẩm mới')
                        img(src='//theme.hstatic.net/1000061481/1000640469/14/img_banner_1.jpg?v=146', alt='Sản phẩm mới')
                        h3.title-post
                            | SẢN PHẨM MỚI 
            .banner-item.col-md-6.col-sm-6.col-xs-12
                .info
                    a(href='/products/saleproducts', title='SALES OFF')
                        img(src='//theme.hstatic.net/1000061481/1000640469/14/img_banner_2.jpg?v=146', alt='SALES OFF')
                        h3.title-post
                            | SALES OFF
            .banner-item.col-md-6.col-sm-6.col-xs-12
                .info
                    a(href='/products/linhkienthethao', title='PHỤ KIỆN BÓNG ĐÁ')
                        img(src='//theme.hstatic.net/1000061481/1000640469/14/img_banner_11.jpg?v=146', alt='PHỤ KIỆN BÓNG ĐÁ')
                        h3.title-post
                            | PHỤ KIỆN BÓNG ĐÁ
            .banner-item.col-md-6.col-sm-6.col-xs-12
                .info
                    a(href='/products/giaycotunhien', title='Giày Cỏ Tự Nhiên')
                        img(src='//theme.hstatic.net/1000061481/1000640469/14/img_banner_3.jpg?v=146', alt='Giày Cỏ Tự Nhiên')
                        h3.title-post
                            | GIẦY CỎ TỰ NHIÊN
            .banner-item.col-md-6.col-sm-6.col-xs-12
                .info
                    a(href='/products/giayconhantao', title='Giày Cỏ Nhân Tạo')
                        img(src='//theme.hstatic.net/1000061481/1000640469/14/img_banner_4.jpg?v=146', alt='Giày Cỏ Nhân Tạo')
                        h3.title-post
                            | GIẦY CỎ NHÂN TẠO
            .banner-item.col-md-6.col-sm-6.col-xs-12
                .info
                    a(href='/products/giayfutsal', title='Giày Futsal')
                        img(src='//theme.hstatic.net/1000061481/1000640469/14/img_banner_5.jpg?v=146', alt='Giày futsal')
                        h3.title-post
                                | GIẦY FUTSAL
            .banner-item.col-md-6.col-sm-6.col-xs-12
                .info
                    a(href='/products/giaybongdatreem', title='GIÀY ĐÁ BÓNG TRẺ EM')
                        img(src='//theme.hstatic.net/1000061481/1000640469/14/img_banner_6.jpg?v=146', alt='GIÀY ĐÁ BÓNG TRẺ EM')
                        h3.title-post
                            | GIẦY BÓNG ĐÁ CHO TRẺ EM
                        
            .banner-item.col-md-6.col-sm-6.col-xs-12
                .info
                    a(href='/products/giaynike', title='GIÀY ĐÁ BANH NIKE')
                        img(src='//theme.hstatic.net/1000061481/1000640469/14/img_banner_7.jpg?v=146', alt='GIÀY ĐÁ BANH NIKE')
                        h3.title-post
                            | GIẦY BÓNG ĐÁ NIKE
            .banner-item.col-md-6.col-sm-6.col-xs-12
                .info
                    a(href='/products/giaybongdaadidas', title='GIÀY ĐÁ BANH ADIDAS')
                        img(src='//theme.hstatic.net/1000061481/1000640469/14/img_banner_8.jpg?v=146', alt='GIÀY ĐÁ BANH ADIDAS')
                        h3.title-post
                            | GIÀY BÓNG ĐÁ ADIDAS
            .banner-item.col-md-6.col-sm-6.col-xs-12
                .info
                    a(href='/products/giaypuma', title='GIÀY ĐÁ BANH PUMA')
                        img(src='//theme.hstatic.net/1000061481/1000640469/14/img_banner_9.jpg?v=146', alt='GIÀY ĐÁ BANH PUMA')
                        h3.title-post
                            | GIẦY BÓNG ĐÁ PUMA 
            .banner-item.col-md-6.col-sm-6.col-xs-12
                .info
                    a(href='/products/giaymizuno', title='GIÀY ĐÁ BANH MIZUNO')
                        img(src='//theme.hstatic.net/1000061481/1000640469/14/img_banner_10.jpg?v=146', alt='GIÀY ĐÁ BANH MIZUNO')
                        h3.title-post
                            | GIẦY BÓNG ĐÁ MIZUNO 
            


            

        

    